version: '3.9'

services:
  coordinator:
    build: .
    container_name: coordinator
    ports: ["5432:5432"]
    entrypoint: /usr/local/bin/entrypoint.sh
    environment:
      - CITUS_ROLE=coordinator
      - POSTGRES_PASSWORD=postgres
    volumes:
      - coordinator-data:/var/lib/postgresql/data
    networks:
      - citus-net

  worker-1:
    build: .
    container_name: worker-1
    entrypoint: /usr/local/bin/entrypoint.sh
    environment:
      - CITUS_ROLE=worker
      - POSTGRES_PASSWORD=postgres
    volumes:
      - worker-1-data:/var/lib/postgresql/data
    networks:
      - citus-net
      
  worker-2:
    build: .
    container_name: worker-2
    entrypoint: /usr/local/bin/entrypoint.sh
    environment:
      - CITUS_ROLE=worker
      - POSTGRES_PASSWORD=postgres
    volumes:
      - worker-2-data:/var/lib/postgresql/data
    networks:
      - citus-net

volumes:
  coordinator-data:
  worker-1-data:
  worker-2-data:

networks:
  citus-net: